body {
    background-color: #0e0e10;
    color: #fff;
}

#return-chat {
    background-color: #fff;
    position: fixed;
    right: 12px;
    cursor: pointer;
    top: 30vh;
    color: #1c72c6;
    width: 45px;
    padding: 7px;
    text-align: center;
    z-index: 9999;
    border-radius: 12px;
    opacity: 0.09;
    transition: opacity 2s;
}

.recolher {
    cursor: pointer;
    color: #f5f5f5;
    font-size: 11px;
}

.recolher:hover {
    color: #1c72c6;
    font-weight: bold;
}

#div_chat {}

#div_video {
    transition: width 2s;
}

#return-chat:hover {
    opacity: 1;
}

.bg-chat {
    background-color: #18181b;
}

.conteudo::-webkit-scrollbar {
    width: 0px;
}

.conteudo::-webkit-scrollbar-track {
    opacity: 0.3;
}

.conteudo::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #0e0e10;
    -webkit-box-shadow: #0e0e10;
    border: 1px solid rgba(255, 255, 255, 0.226);
}

.conteudo::-webkit-scrollbar-thumb:window-inactive {
    background: #0e0e10;
}


/* Let's get this party started */

.mensagens::-webkit-scrollbar {
    width: 8px;
}

.mensagens::-webkit-scrollbar-track {
    opacity: 0.3;
}

.mensagens::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #0e0e10;
    -webkit-box-shadow: #0e0e10;
    border: 1px solid rgba(255, 255, 255, 0.226);
}

.mensagens::-webkit-scrollbar-thumb:window-inactive {
    background: #0e0e10;
}

.mensagens {
    overflow-x: auto;
    width: 100%;
    padding: 6px 6px 0px 12px;
    height: 60vh;
}

.form-chat {
    padding: 12px;
}

.inputs {
    padding: 8px;
}

.title {
    background-color: #303032;
    border: 0px;
    margin: 0px;
    height: 35px;
    z-index: 100;
}

.nome {
    font-size: 13px;
}

.nome small {
    color: #1c72c6;
    font-size: 13px;
    font-weight: bold;
}

.video {
    background-color: #000;
    width: 100%;
    height: 66vh;
    margin: 0;
    padding: 0;
    border: 3px solid #272728;
}

.header-video {
    padding-left: 3px;
}

.tw-textarea {
    -moz-appearance: none;
    -ms-overflow-style: none;
    -webkit-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: hsla(0, 0%, 100%, 0.15);
    border: 2px solid hsla(0, 0%, 100%, 0.15);
    color: #efeff1;
    font-size: 13px;
    font-family: inherit;
    line-height: 2;
    outline: 0;
    padding: 1.5rem 1rem 1.5rem 1rem;
    resize: vertical;
    transition: box-shadow 0.1s ease-in, border 0.1s ease-in, background-color 0.1s ease-in;
}

.tw-textarea::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.7);
    color: var(--color-text-input-placeholder);
}

.tw-textarea::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.7);
    color: var(--color-text-input-placeholder);
}

.tw-textarea::placeholder {
    color: rgba(0, 0, 0, 0.7);
    color: var(--color-text-input-placeholder);
}

.tw-textarea::-ms-clear {
    display: none;
}

.tw-textarea:-moz-focus-inner {
    border: none;
    padding: 0;
}

.tw-textarea:focus {
    background-color: #000;
    color: #efeff1;
}

.tw-textarea--error {
    box-shadow: 0 0 8px -2px #e91916;
    box-shadow: var(--shadow-input-error);
}

.tw-textarea--error,
.tw-textarea--error:focus {
    border: 2px solid #e91916;
    border: var(--border-width-input) solid var(--color-border-input-error);
}

.tw-textarea--error:focus {
    box-shadow: 0 0 6px -3px #e91916;
    box-shadow: var(--shadow-input-error-focus);
}

.tw-textarea:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.tw-textarea[cols] {
    max-width: 100%;
    width: auto;
}

.tw-textarea--no-resize {
    resize: none;
}